@import url('https://fonts.googleapis.com/css?family=Muli&display=swap'); 

* {
  box-sizing: border-box; /*content width = border+margin+padding*/
}
/*  */
body {
  font-family: 'Muli', sans-serif; 
  overflow: hidden;                   /*hidde scroll when content bigger then container*/
  margin: 0;
  background: rgb(140, 140, 140); 
  height: 100vh;                     /*100 % of height viewport  */ 
  
  
  
  
      /* Для центрирования элемента по перекрёстной оси 
      (в данном случае - вертикальной) используется свойство align-items. 
      Для центрирования элемента по главной оси 
      (в данном случае - горизонтально), используется свойство justify-content*/                      
  display: flex;                         
  justify-content: center;
  align-items: center;
}

.container {
  width: 100%;
  display: flex;
  padding: 0 20px;
}

.slide {
  height: 80vh;
  border-radius: 20px;
  margin: 10px;
  cursor: pointer;         /*what image of cursor will displayed when cursor on this element*/        
  color: #ffff;
  flex: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  transition: all 500ms ease-in-out;
}

.slide h3 {
   position: absolute ;
   font-size: 24px; 
   bottom: 20px;
   left: 20px;
   margin: 0; 
   opacity: 0;
} 

.slide.active {
    flex: 10;
}


.slide.active h3 {
  opacity: 1;
  transition: opacity 0.3s ease-in 0.5s;
}


.container{
  max-width: 1200px;
  margin: 0px auto;
  padding: 0px 15px;
}

@media (max-width:1200px){
  .container{
    max-width: 970px;
  }
}

@media (max-width:992px){
  .container{
    max-width: 750px;
  }
}

@media (max-width:767px){
  .container{
    max-width: none;
  }
}

@media all { // print screen speech

}

@media (orientation: portrate) {// landscape

}

@media (resolution: 300dpi) { // max min

}